/* #contents {
    clear: both;			
  } */
.flow-text{
    font-size: 16px;
    color: #e0e0e0;
}
.contents {
    background-color: #212121;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid white;
}

h4 {
    color: #e0e0e0 ;
}

p {
    color: #e0e0e0 ;
}
a {
    color: #e0e0e0;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar {
    margin: auto;
    width: 50%;
    text-align: center;
}