/* #contents {
    clear: both;			
  } */

.contents {
    background-color: #212121;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid white;
}

h4 {
    color: white;
}

p {
    color: white;
}