.container .row{
    margin-left: 20px;
    margin-right: 0;
}

.devicons {
    text-align: center;
    margin: auto;
    width: auto;
    font-size: 6em;
}

.devicon-nodejs-plain-wordmark.colored
{
    padding-left: 8px;
}

ul {
    text-align: center;
    padding-bottom: 50px;
    margin: auto;
    width: auto;
    font-size: 20px;
    color: #e0e0e0;
}